@import '@/styles/colors.module.scss';

@mixin styling($font-size, $small-font-size) {
  .container {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .title {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: $small-font-size;
  }

  .text {
    font-size: $font-size;
    color: $accent;
  }

  .children {
    position: absolute;
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($font-size: 22px, $small-font-size: 14px);
}

@media screen and (min-width: 787px) {
  @include styling($font-size: 32px, $small-font-size: 24px);
}
