@use '@/styles/colors.module';

@mixin styling($font-size, $bracket-font-size) {
  .container {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .middle {
    justify-content: center;
    align-items: center;
  }

  .title {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: $bracket-font-size;

    .text {
      font-size: $font-size;
      color: colors.$accent;
    }
  }

  .subtitle {
    .text {
      font-size: 12px;
      color: colors.$secondary;
    }
  }

  .children {
    position: absolute;
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($font-size: 22px, $bracket-font-size: 14px);
}

@media screen and (min-width: 787px) {
  @include styling($font-size: 28px, $bracket-font-size: 20px);
}
