@use '@/styles/colors.module' as c;
@use '@/styles/values.module' as v;

@mixin styling($font-size, $bracket-font-size) {
  .container {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .middle {
    justify-content: center;
    align-items: center;
  }

  .title {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1ch;
    font-size: $font-size;
    color: c.$accent;

    &::before, &::after {
      color: c.$quinary;
      font-size: $bracket-font-size;
    }

    &.brackets {
      &::before { content: v.$bracket-3-l; }
      &::after  { content: v.$bracket-3-r; }
    }
  }

  .subtitle {
    .text {
      font-size: 12px;
      color: c.$secondary;
    }
  }

  .children {
    position: absolute;
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($font-size: 22px, $bracket-font-size: 14px);
}

@media screen and (min-width: 787px) {
  @include styling($font-size: 28px, $bracket-font-size: 20px);
}
