@use '@/styles/colors.module';

.main {
  a {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    line-height: 18px;
    
    &:hover, &:focus-visible {
      text-decoration: colors.$quinary underline dotted;
    }  
  }
}
