@import '@/styles/colors.module.scss';

.card {
  justify-content: center;
  gap: 10px;
  min-width: 300px;
}

.section {
  .sectionContent {
    overflow-y: scroll;
    align-items: stretch;
    justify-content: start;
    padding: 20px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { display: none; }
  }
}

.caption {
  flex-direction: row;
  align-items: center;
  gap: 7.5px;

  > img {
   border-radius: 10%;
  }
}

.author {
  font-size: 16px;

  a {
    font-style: normal;
    text-decoration: none;

    &:hover, &:focus-visible {
      text-decoration: $quinary underline dotted;
    }  
  }
}

.date {
  &.hasUser {
    margin-top: -12.5px;
    margin-left: 32.5px;
  }

  span {
    font-style: italic;
    color: $secondary;
  }
}