@import '@/styles/colors.module.scss';

.card {
  justify-content: center;
  gap: 10px;
}

.section {
  .sectionContent {
    flex: 1;
    overflow-y: scroll;
    align-items: stretch;
    justify-content: start;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { display: none; }
    word-break: break-word;

    > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.caption {
  flex-direction: row;
  align-items: start;
  margin-left: 2px;
  gap: 10px;

  > img {
   border-radius: 10%;
  }
}

.text {
  gap: 2px;

  a {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    line-height: 18px;

    &:hover, &:focus-visible {
      text-decoration: $quinary underline dotted;
    }  
  }
}

.date {
  span {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    color: $secondary;
  }
}

.noUser {
  margin-top: -5px;
}
