@import '@/styles/colors.module.scss';
@import '@/styles/consts.module.scss';

$corner-icon-size: 25px;

.card {
  justify-content: center;
  gap: 10px;
}

.section {
  height: 100%;
  min-height: $corner-icon-size * 3;

  .sectionContent {
    flex: 1;
    overflow-y: scroll;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { display: none; }
    word-break: break-word;
  }
}

.cornerButtons {

  position: absolute;
  top: -$corner-icon-size / 2;
  right: -$corner-icon-size / 2;
  gap: 5px;
  background: radial-gradient(circle, $primary 50%, $none 85%);
  
  > a, div {
    cursor: pointer;
    transition: all 500ms $ease-out-quartic;

    > svg { font-size: $corner-icon-size; }
    
    &:hover, &:focus-visible {
      transform: scale(1.2);
    }
    
    &:active, &.active {
      transform: scale(0.8);
    }
  }
}

.caption {
  flex-direction: row;
  align-items: start;
  margin-left: 2px;
  gap: 10px;

  > img {
   border-radius: 10%;
  }
}

.text {
  gap: 2px;
}

.date {
  span {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    color: $secondary;
  }
}

.noUser {
  margin-top: -5px;
}

.interactionsHolder {
  flex: 1;
  align-items: end;
  justify-content: start;

  > div {
    gap: 3px;
    align-items: end;
  }  
}
