@import '@/styles/colors.module.scss';
@import '@/styles/consts.module.scss';

@mixin styling($cards-grid, $back-button-size) {
  .section {
    flex: 1;
  }

  .sectionContainer {
    gap: 10px;
  }

  .cardsHolder {
    flex: 1;
    justify-content: stretch;
  }

  .cards {
    position: absolute;
    display: grid;
    grid-template-columns: $cards-grid;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    padding: 15px 7.5%;
    gap: 30px;

    > a, > div {
      > div {
        flex: 1;
        > div:nth-child(1) {
          flex: 1;
        }
      }
    }
  }

  .backButton {
    margin-left: $back-button-size/2;
    cursor: pointer;
    
    > svg {
      font-size: $back-button-size;
      transform-origin: right;
      transition: all 500ms $ease-out-quartic;
      fill: $red;
      stroke: $red;

      &:hover, &:focus-visible {
        transform: scale(1.2);
      }

      &:active, &.active {
        transform: scale(0.8);
      }
    }
  }

  .pageIcon {
    margin-right: $back-button-size/2;

    > svg {
      font-size: $back-button-size*3/4;
      transition: all 500ms $ease-out-quartic;
      fill: $accent;
      stroke: $accent;
      path { stroke-width: 40px; }

      &:hover, &:focus-visible {
        transform: scale(1.2);
      }

      &:active, &.active {
        animation: spin 750ms ease-in-out infinite;
      }
    }

    @keyframes spin {
      from { rotate: 0deg; }
      to { rotate: 360deg; }
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($cards-grid: 1fr, $back-button-size: 30px);
}

@media screen and (min-width: 787px) {
  @include styling($cards-grid: 1fr 1fr, $back-button-size: 36px);
}
