@import '@/styles/colors.module.scss';

@mixin styling($cards-grid, $back-button-size) {
  $time-func: cubic-bezier(0.165, 0.84, 0.44, 1);

  .section {
    flex: 1;
  }

  .sectionContainer {
    gap: 10px;
  }

  .cardsHolder {
    flex: 1;
    justify-content: stretch;
  }

  .cards {
    position: absolute;
    display: grid;
    grid-template-columns: $cards-grid;
    align-items: stretch;
    justify-items: stretch;
    align-content: start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    padding: 15px 7.5%;
    gap: 30px;

    > a, > div {
      > div {
        flex: 1;
        > div:nth-child(1) {
          flex: 1;
        }
      }
    }
  }

  .backButton {    
    svg {
      cursor: pointer;
      font-size: $back-button-size;
      padding: 2.5px;
      transition: all 500ms $time-func;
      fill: $red;
      stroke: $red;
      margin-left: $back-button-size/2;
      &:hover, &:focus-visible {
          transform: scale(1.2);
      }
      
      &:active, &.active {
        transform: scale(0.8);        
      }
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($cards-grid: 1fr, $back-button-size: 30px);
}

@media screen and (min-width: 787px) {
  @include styling($cards-grid: 1fr 1fr, $back-button-size: 36px);
}
