@import '@/styles/colors.module.scss';

$time-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$all-transition: all 350ms ease-out;
$placeholder: $quinary;

.container {
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  border-color: $placeholder;
  background-color: rgba($placeholder, 0.1);
  overflow: hidden;

  &:not(.noMin) {
    min-width: 75px;
    min-height: 25px;
  }

  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: $all-transition,
              filter 500ms $time-func;

  &:hover:not(.disabled),
  &:focus-visible:not(.disabled) {
    background-color: rgba($placeholder, 0.2);
  }
    
  &:active:not(.disabled), &.active:not(.disabled) {
    background-color: $placeholder;
    filter: drop-shadow(0 0 10px rgba($placeholder, 0.5));

    span, .background svg {
      color: $primary;
      fill: $primary;
      stroke: $primary;
    }
  }
}

.disabled {
  background-color: rgba($secondary, 0.1);
  border-color: $secondary;
  color: $quinary;
  cursor: not-allowed;
}

.icon {
  align-items: center;
  justify-content: center;
  padding: 5px;

  &:not(.background) {
    background-color: $primary;
  }

  svg {
    transition: $all-transition;
  }
}

.textHolder {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  text-wrap: nowrap;

  > span {
    transition: $all-transition;
    user-select: none;
  }
}
