@import '@/styles/colors.module.scss';

$time-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$shadow: drop-shadow(0 0 10px rgba($accent, 0.5));
$all-transition: all 350ms ease-out;

.container {
  align-items: stretch;
  justify-content: center;
  flex-direction: row;

  min-width: 100px;
  min-height: 50px;

  border-width: 1px;
  border-style: solid;
  border-color: $accent;
  background-color: rgba($accent, 0.1);
  cursor: pointer;
  transition: $all-transition,
              filter 500ms $time-func;

  &:hover:not(.disabled) {
    background-color: rgba($accent, 0.2);
  }

  &:active:not(.disabled) {
    background-color: $accent;
    filter: $shadow;

    span {
      color: $primary;
    }
  }
}

.disabled {
  background-color: rgba($secondary, 0.1);
  border-color: $secondary;
  color: $quinary;
  cursor: not-allowed;
}

.icon {
  align-items: center;
  justify-content: center;
  background-color: $primary;
  padding: 7.5px;

  svg {
    transition: $all-transition;
  }
}

.textHolder {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

  > span {
    transition: $all-transition;
    user-select: none;
  }
}

.brackets {
  color: $accent;
}
