@import '@/styles/colors.module.scss';

@mixin styling($padding-top, $data-font-size, $cards-grid) {
  .section {
    flex: 1;
  }

  .sectionContainer {
    padding: $padding-top 10px;
    padding-bottom: 0;
    gap: 5px;

    hr {
      width: 90%;
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: rgba($secondary, 0.5);
      border-radius: 2px;

      &::after {
        content: "<#>";
        display: block;
        color: $accent;
        background-color: $primary;
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
    }
  }

  .userBox {
    align-items: center;
    gap: 10px;
  }

  .avatar {
    border-radius: 7.5%;
  }

  .textStuff {
    user-select: none;
    align-items: center;
    gap: 2.5px;
  }

  .names {
    align-items: center;

    > :nth-child(1) {
      font-size: 32px;
      font-weight: bold;
    }

    > :nth-child(2) {
      font-weight: 200;
      user-select: text;
    }
  }

  .dataBox {
    flex: 1;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    align-items: center;
    justify-items: stretch;
    padding: 0 15px;

    &::before {
      content: "{";
      color: $accent;
      justify-self: end;
      font-size: 32px;
    }

    &::after {
      content: "}";
      color: $accent;
      justify-self: start;
      font-size: 32px;
    }
  }

  .data {
    user-select: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .dataItem {
    font-size: $data-font-size;

    &::after {
      content: ", ";
      color: $quinary;
    }

    &:nth-last-of-type(1)::after {
      content: none;
    }
  }

  .cardsHolder {
    flex: 1;
    align-items: center;
  }

  .cards {
    position: absolute;
    display: grid;
    grid-template-columns: $cards-grid;
    align-items: start;
    justify-items: stretch;
    align-content: start;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 15px 10%;
    gap: 30px;
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($padding-top: 30px, $data-font-size: 14px, $cards-grid: 1fr);
}

@media screen and (min-width: 787px) {
  @include styling($padding-top: 50px, $data-font-size: 18px, $cards-grid: 1fr 1fr);
}
