
.container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.section {
  min-width: 300px;
}

.sectionContainer {
  align-items: stretch;
}

.text {
  align-self: center;
  text-align: center;
  margin: 10px 20px;

  h3 {
    &::before {
      content: none;
    }
  }
}

.note {
  align-self: center;
  font-size: 12px;
  margin-top: 5px;
  color: var(--secondary);
  font-style: italic;

  &::before {
    content: "* ";
    font-style: normal;
    color: var(--cold);
  }
}
