@import '@/styles/colors.module.scss';

@mixin styling($data-font-size) {
  .dataBox {
    flex: 1;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    align-items: center;
    justify-items: stretch;
    padding: 0 15px;

    &::before {
      content: "{";
      color: $accent;
      justify-self: end;
      font-size: 32px;
    }

    &::after {
      content: "}";
      color: $accent;
      justify-self: start;
      font-size: 32px;
    }
  }

  .data {
    user-select: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .dataItem {
    font-size: $data-font-size;

    &::after {
      content: ", ";
      color: $quinary;
    }

    &:nth-last-of-type(1)::after {
      content: none;
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($data-font-size: 14px);
}

@media screen and (min-width: 787px) {
  @include styling($data-font-size: 18px);
}
