@use '@/styles/funcs.module';
@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;
@use '@/styles/values.module' as v;

$width: 365px;
$max-width: 85%;

@mixin provider($color: c.$accent) {
  padding: 5px;
  border: 2px dashed $color;
  border-radius: v.$border-radius-1;
  background-color: funcs.set-alpha($color, 10%);
  cursor: pointer;
  transition: all 350ms ease-out,
              filter 500ms consts.$ease-out-quartic;

  &.disabled {
  border: 2px dashed c.$secondary;
  background-color: funcs.set-alpha(c.$secondary, 10%);
  filter: saturate(0);
  }

  &:not(.disabled) {
    &:hover, &:focus-visible {
      background-color: funcs.set-alpha($color, 20%);
    }
      
    &:active, &.active {
      background-color: $color;
      filter: drop-shadow(0 0 10px funcs.set-alpha($color, 50%));
    }
  }
}

@mixin result($color) {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: $color;
  background-color: funcs.set-alpha($color, 20%);
  align-items: stretch;
  gap: 10px;
  
  > h3 {
    color: c.$tertiary;
    align-self: center;
    &::before {
      content: '';
    }  
  }

  .resultButton {
    align-self: center;
  }
}

.page {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.container {
  flex: 1;
  align-items: stretch;
  justify-content: center;
  width: $width;
  max-width: $max-width;
  gap: 10px;
}

.section {
  min-height: 300px;
  max-height: 90%;
  transition: all 500ms consts.$ease-out-quartic;

  .paragraph {
    padding: 0 10px;
    color: c.$secondary;
    font-size: smaller;
  }

  .providersTray {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .google  { @include provider(#0b57d0); }
    .github  { @include provider(#0d1117); }
    .apple   { @include provider(#ffffff); }
    .discord { @include provider(#5865f2); }
    .twitch  { @include provider(#9244ff); }
  }

  .success { @include result(c.$accent); }
  .failure { @include result(c.$red); }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
    label {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: 5px;

      span {
        user-select: none;
      }

      input {
        font-variant-ligatures: none;

        &::placeholder {
          font-style: italic;
          color: c.$secondary;
        }
      }
    }
  }

  .sectionContent {
    gap: 10px;
    padding-top: 40px;
    overflow: scroll;
  }
}

.name {
  align-self: center;
  user-select: none;
  
  span { font-size: 20px; }
  &:hover { font-weight: bold; }
}

.image {
  align-self: center;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

  img {
    height: 135px;
    width: 135px;
  }
}

.passwordContainer {
  justify-content: center;

  div {
    transition: all 500ms consts.$ease-out-quartic;
    position: absolute;
    right: 10px;
    margin-bottom: 2px;

    svg {
      font-size: 22px;

      &[id="open"] { fill: c.$accent; }
      &[id="closed"] { fill: c.$secondary; }
    }
    &:hover { transform: scale(1.2); }
    &:active { transform: scale(0.8); }
  }
}

.badInput {
  gap: 5px;
  margin-top: 5px;
  font-size: 10px;
  transform-origin: top;
  animation: load-animation 1s consts.$ease-out-quartic;

  > span {
    &.bad{
      &::before {
          content: "× ";
          color: c.$red;
        }
    }

    &.good{
      &::before {
          content: "✓ ";
          color: c.$green;
        }
    }

    > div {
      overflow: hidden;
      margin-top: 5px;
      height: 5px;
      width: 100%;
      background-color: c.$quaternary;
      border-radius: 5px;

      > div {
        transition: all 500ms consts.$ease-out-quartic;
        transform-origin: left;
        height: 100%;
        width: 100%;
        flex: 1;
        background-color: c.$accent;
      }
    }
  }
}

@keyframes load-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  height: 50px;
}

.error {
  align-self: center;
  margin-bottom: 10px;

  svg {
    fill: c.$red;
    stroke: c.$red;
    margin-inline-end: 5px;
    margin-block-end: -3px;
  }
}

.footer {
  user-select: none;
  margin: 5px;
}
