@import '@/styles/colors.module.scss';
@import '@/styles/consts.module.scss';

$width: 365px;
$max-width: 85%;

@mixin result($color) {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: $color;
  background-color: rgba($color, 0.2);
  align-items: stretch;
  gap: 10px;
  
  > h3 {
    color: $tertiary;
    align-self: center;
    &::before {
      content: '';
    }  
  }

  .resultButton {
    align-self: center;
  }
}

.page {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.container {
  flex: 1;
  align-items: stretch;
  justify-content: center;
  width: $width;
  max-width: $max-width;
  gap: 10px;
}

.section {
  min-height: 300px;
  max-height: 90%;
  transition: all 500ms $ease-out-quartic;

  .paragraph {
    padding: 0 10px;
    color: $secondary;
    font-size: smaller;
  }

  .success { @include result($accent); }
  .failure { @include result($red); }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
    label {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: 5px;

      span {
        user-select: none;
      }

      input {
        font-variant-ligatures: none;

        &::placeholder {
          font-style: italic;
          color: $secondary;
        }
      }
    }
  }

  .sectionContent {
    gap: 10px;
    padding-top: 40px;
    overflow: scroll;
  }
}

.name {
  align-self: center;
  user-select: none;
  
  span { font-size: 20px; }
  &:hover { font-weight: bold; }
}

.image {
  align-self: center;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

  img {
    height: 135px;
    width: 135px;
  }
}

.passwordContainer {
  justify-content: center;

  div {
    transition: all 500ms $ease-out-quartic;
    position: absolute;
    right: 10px;
    margin-bottom: 2px;

    svg {
      font-size: 22px;

      &[id="open"] { fill: $accent; }
      &[id="closed"] { fill: $secondary; }
    }
    &:hover { transform: scale(1.2); }
    &:active { transform: scale(0.8); }
  }
}

.badInput {
  gap: 5px;
  margin-top: 5px;
  font-size: 10px;
  transform-origin: top;
  animation: load-animation 1s $ease-out-quartic;

  > span {
    &.bad{
      &::before {
          content: "× ";
          color: $red;
        }
    }

    &.good{
      &::before {
          content: "✓ ";
          color: $green;
        }
    }

    > div {
      overflow: hidden;
      margin-top: 5px;
      height: 5px;
      width: 100%;
      background-color: $quaternary;
      border-radius: 5px;

      > div {
        transition: all 500ms $ease-out-quartic;
        transform-origin: left;
        height: 100%;
        width: 100%;
        flex: 1;
        background-color: $accent;
      }
    }
  }
}

@keyframes load-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  height: 50px;
}

.error {
  align-self: center;
  margin-bottom: 10px;

  svg {
    fill: $red;
    stroke: $red;
    margin-inline-end: 5px;
    margin-block-end: -3px;
  }
}

.footer {
  user-select: none;
  margin: 5px;
}
