@use '@/styles/colors.module';

.container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.section {
  height: 150px;
  width: 350px;

  .sectionContent {
    align-items: center;
    justify-content: center;
    gap: 20px;

    &:hover, &:focus-visible {
      border-color: colors.$hot;
    }
  }

  span {
    font-size: 16px;
  }

  svg {
    display: flex;
    margin-bottom: -30px;
    fill: colors.$quinary;
    stroke: colors.$quinary;
    font-size: 22px;
    &:hover, &:focus-visible {
      fill: colors.$accent;
      stroke: colors.$accent;
    }
  }
}