
.container {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.section {
  height: 150px;
  width: 350px;

  .sectionContent {
    align-items: center;
    justify-content: center;
    gap: 20px;

    &:hover, &:focus-visible {
      border-color: var(--hot);
    }
  }

  span {
    font-size: 16px;
  }

  svg {
    display: flex;
    margin-bottom: -30px;
    fill: var(--quinary);
    stroke: var(--quinary);
    font-size: 22px;
    &:hover, &:focus-visible {
      fill: var(--accent);
      stroke: var(--accent);
    }
  }
}