@use '@/styles/colors.module';

.self {
  >:first-child {
    margin-top: 0;
    margin-block-start: 0;
  }

  >:last-child {
    margin-bottom: 0;
    margin-block-end: 0;
  }

  p {
    font-weight: 200;
  }

  img {
    width: 50%;
  }

  em {
    img {
      width: 25%;
    }
  }

  strong {
    img {
      width: 100%;
    }
  }

  hr {
    border-color: colors.$accent;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "<#>";
      display: block;
      color: colors.$secondary;
      font-size: 16px;
      background-color: colors.$primary;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
  }

  li {
    position: relative;
  }

  input[type="checkbox"]:disabled {
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: colors.$primary;
      border: 2px solid colors.$secondary;
      transform: scale(10);
    }
    &:checked::before {
      background-color: colors.$accent;
    }

    transform: scale(0.1);
    position: absolute;
    left: -24px;
    top: 3px;
    margin: 0;
    min-height: 0;
  }

  table {
    width: 100%;
  }
}