@import '@/styles/colors.module.scss';

.self {
  p {
    font-weight: 200;
  }

  img {
    width: 50%;
  }

  em {
    img {
      width: 25%;
    }
  }

  strong {
    img {
      width: 100%;
    }
  }

  hr {
    border-color: $accent;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "<#>";
      display: block;
      color: $secondary;
      font-size: 16px;
      background-color: $primary;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
  }

  li {
    position: relative;
  }

  input[type="checkbox"]:disabled {
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: $primary;
      border: 2px solid $secondary;
      transform: scale(10);
    }
    &:checked::before {
      background-color: $accent;
    }

    transform: scale(0.1);
    position: absolute;
    left: -24px;
    top: 3px;
    margin: 0;
    min-height: 0;
  }
}