@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  > svg {
    font-size: 35px;
    transition: all 500ms consts.$ease-out-quartic;
    fill: c.$secondary;
    stroke: c.$secondary;
  }

  &:hover, &:focus-visible {
    > svg {
      transform: scale(1.25);
    }
  }

  &:active, &.active {
    > svg {
      fill: c.$quinary;
      stroke: c.$quinary;
    }
  }
}
