@import '@/styles/colors.scss';

.none { color: $none; }
.primary { color: $primary; }
.secondary { color: $secondary; }
.tertiary { color: $tertiary; }
.quaternary { color: $quaternary; }
.quinary { color: $quinary; }

.accent { color: $accent; }
.highlight { color: $highlight; }

.hot { color: $hot; }
.cold { color: $cold; }

.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }

.cyan { color: $cyan; }
.yellow { color: $yellow; }
.magenta { color: $magenta; }
