@import '@/styles/colors.module.scss';

$time-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$min-width: 350px;
$max-width: 70%;

.page {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container {
  flex: 1;
  align-items: stretch;
  justify-content: center;
  min-width: $min-width;
  max-width: $max-width;
  gap: 10px;
}

.section {
  min-height: 300px;
  max-height: 90%;
  transition: all 500ms $time-func;

  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    
    label {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: 5px;

      span {
        user-select: none;
      }

      input {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-variant-ligatures: none;

        &::placeholder {
          font-style: italic;
          color: $secondary;
        }
      }
    }
  }

  :global #container {
    gap: 10px;
    padding-top: 40px;
  }
}

.name {
  align-self: center;
  user-select: none;
  
  span { font-size: 20px; }
  &:hover { font-weight: bold; }
}

.image {
  align-self: center;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

  img {
    height: 135px;
    width: 135px;
  }
}

.passwordContainer {
  justify-content: center;

  div {
    transition: all 500ms $time-func;
    position: absolute;
    right: 25px;
    margin-bottom: 2px;

    svg {
      font-size: 22px;

      &[id="open"] { fill: $accent; }
      &[id="closed"] { fill: $secondary; }
    }
    &:hover { transform: scale(1.2); }
    &:active { transform: scale(0.8); }
  }
}

.haveAcc {
  user-select: none;
  margin: 5px;
}
