@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;

.bio {
  color: c.$secondary;
  padding: 0 25px;
  width: 90%;
  max-width: 600px;
  align-items: center;
  gap: 7.5px;
}

.bioText {
  cursor: pointer;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.expanded {
  word-break: break-word;
  text-overflow: none;
  white-space: normal;
  overflow: visible;
}

.badgeShelf {
  height: 30px;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.special {
  align-items: center;

  > svg {
    path { stroke-width: 42px; }

    &:first-of-type {
      font-size: 18px;
      position: absolute;
      top: 2px;
      fill: c.$gold;
      stroke: c.$primary;
    }

    &:last-of-type {
      font-size: 30px;
      fill: c.$highlight;
      stroke: c.$none;
    }
  }
}

.cheers {
  filter: brightness(1.33)
          drop-shadow(c.$wine 0 0 7.5px)
          drop-shadow(c.$wine 0 0 3px);
}

@mixin blink-glow($name, $color) {
  animation: blink-#{$name} 1s consts.$ease-out-quartic infinite;

  @keyframes blink-#{$name} {
    0%, 100% {
      filter: brightness(1.33)
              drop-shadow($color 0 0 7.5px)
              drop-shadow($color 0 0 3px);
    }

    50% {
      filter: brightness(0.66);
    }
  }
}

.fDay { @include blink-glow("magenta", c.$magenta); }
.mDay { @include blink-glow("cyan", c.$cyan); }
.tDay { @include blink-glow("yellow", c.$yellow); }
.bdToday { @include blink-glow("cold", c.$cold); }
