@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;
@use '@/styles/values.module' as v;

@mixin styling($border-width, $margin, $padding) {
  .background {
    background-color: c.$primary;
    border-radius: v.$border-radius-1;
    transition: all 500ms consts.$ease-out-quartic;
  }
  
  .container {
    margin: $margin;
    padding: $padding;
    overflow: hidden;
    border: $border-width solid c.$secondary;
    border-radius: v.$border-radius-1;
    transition: all 500ms consts.$ease-out-quartic;

    &.flex { flex: 1; }

    &:hover, &:focus-visible {
      border-color: c.$accent;
    }
  }
  
  .title {
    position: absolute;
    top: 0;
    transform: translateY((calc(-52% + $margin)));
    align-self: flex-start;
    margin-left: calc($margin + 15px + v.$border-radius-1 / 2);
    justify-content: center;
    align-content: center;
    z-index: 2;
    font-weight: lighter;
    font-size: 20px;
    user-select: none;

    &.centered {
      align-self: center;
      margin-left: 0;
    }
  }

  .titleBG {
    z-index: 1;
    position: absolute;
    background-color: c.$primary;
    margin-top: calc($margin / 2);
    left: -5px;
    height: calc($border-width * 2);
    width: calc(100% + 10px);
  }
  
  .titleText {
    z-index: 2;
    font-weight: lighter;
    display: inline;

    &:hover {
      font-weight: 400;
    }
  }
  
  /* ======================================================================== */
  /*                                   Card                                   */
  /* ======================================================================== */
  
  .card {
    .container {
      margin: 0;
    }
    
    .title {
      margin-top: calc(-1 * $margin);
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($border-width: 2px, $margin: 5px, $padding: 5px);
}

@media screen and (min-width: 787px) {
  @include styling($border-width: 2px, $margin: 5px, $padding: 5px);
}
