@import '@/styles/colors.module.scss';

@mixin styling($border-width, $margin, $padding) {

  .background {
    position: relative;
    background-color: $primary;
    border-radius: 0;
  }
  
  .container {
    &.flex {
      flex: 1;
    }
    position: relative;
    margin: $margin;
    padding: $padding;
    overflow: hidden;
    border: $border-width solid $secondary;
    &:hover, &:focus-visible {
      border-color: $accent;
    }
  }
  
  .title {
    position: absolute;
    top: 0;
    transform: translateY((calc(-52% + $margin)));
    align-self: flex-start;
    margin-left: $margin + 15px;
    justify-content: center;
    align-content: center;
    z-index: 2;
    font-weight: lighter;
    font-size: 20px;
    user-select: none;
  }
  
  .title.centered {
    align-self: center;
    margin-left: 0;
  }
  
  .titleBG {
    z-index: 1;
    position: absolute;
    background-color: $primary;
    margin-top: $margin / 2;
    left: -5px;
    height: $border-width * 2;
    width: calc(100% + 10px);
  }
  
  .titleText {
    z-index: 2;
    font-weight: lighter;
    display: inline;
    font-size: 22px;
    &:hover {
      font-weight: 400;
    }
  }
  
  /* ======================================================================== */
  /*                                   Card                                   */
  /* ======================================================================== */
  
  .card {
    .container {
      margin: 0;
    }
    
    .title {
      margin-top: -1 * $margin;
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($border-width: 1px, $margin: 5px, $padding: 5px);
}

@media screen and (min-width: 787px) {
  @include styling($border-width: 2px, $margin: 5px, $padding: 5px);
}
