@import '@/styles/colors.scss';

@mixin styling($border-width, $margin, $padding) {

  #section-background {
    position: relative;
    background-color: $primary;
    border-radius: 0;
  }
  
  #section-container {
    position: relative;
    flex: 1;
    margin: $margin;
    padding: $padding;
    overflow: hidden;
    border: $border-width solid $secondary;
    &:hover {
      border-color: $accent;
    }
  }
  
  #section-title {
    position: absolute;
    top: 0;
    align-self: flex-start;
    margin-left: calc($margin + 15px);
    justify-content: center;
    align-content: center;
    z-index: 2;
    font-weight: lighter;
    font-size: 20px;
  }
  
  #section-title.centered {
    align-self: center;
    margin-left: 0;
  }
  
  #section-title-bg {
    z-index: 1;
    position: absolute;
    background-color: $primary;
    top: $margin;
    left: -5px;
    height: $border-width;
    width: calc(100% + 10px);
  }
  
  #section-title-text {
    z-index: 2;
    font-weight: lighter;
    line-height: calc($margin * 2);
    font-size: 22px;
    &:hover {
      font-weight: 400;
    }
  }
  
  /* ======================================================================== */
  /*                                   Card                                   */
  /* ======================================================================== */
  
  .card {
    #section-container {
      margin: 0;
    }
    
    #section-title {
      margin-top: calc($margin * -1);
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($border-width: 1px, $margin: 5px, $padding: 15px);
}

@media screen and (min-width: 787px) {
  @include styling($border-width: 2px, $margin: 5px, $padding: 15px);
}
