.loading {
  color: var(--secondary);
  user-select: none;
  font-size: 1rem;
  font-variant-ligatures: none;

  > span:nth-child(1) {
    color: var(--none);
    background: linear-gradient(to right, var(--accent) 70%, rgba(var(--accent), 0.33), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    animation: swipe 900ms linear infinite;
    background-size: 300% 100%;
  }

  > span:nth-child(2) {
    display: inline-flex;

    > span { transform-origin: bottom; }
    >:nth-child(1) { animation: blink 900ms linear 0ms infinite; }
    >:nth-child(2) { animation: blink 900ms linear 300ms infinite; }
    >:nth-child(3) { animation: blink 900ms linear 600ms infinite; }
  }
}

@keyframes blink {
  0% { color: var(--secondary); }
  20% { color: var(--tertiary); transform: scale(1.5); }
  30% { color: var(--tertiary); transform: scale(1.5); }
  31% { color: var(--secondary); }
  100% { color: var(--secondary); }
}

@keyframes swipe {
  0% { background-position: 150% 0; }
  100% { background-position: 0 0; }
}
