@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;

$shrink-transform: scale(0.8);
$shadow: drop-shadow(-5px -5px 10px c.$highlight)
         drop-shadow(5px 5px 10px c.$accent);
$shrink-filter: $shadow blur(3px);

.image {
  > a {
    display: flex;
  }

  img {
    cursor: pointer;
    transition: all 500ms consts.$ease-out-quartic;
    
    &:hover, &:focus-visible {
      transform: scale(0.85);
      filter: $shadow;
    }
  }
}

.redirecting {
  animation: beat 1s ease-out 0ms infinite;
}

@keyframes beat {
  0% {
    filter: $shadow;
    transform: none;
  }
  10% {
    filter: $shrink-filter;
    transform: $shrink-transform;
  }
  30% {
    filter: $shadow;
    transform: none;
  }
  50% {
    filter: $shrink-filter;
    transform: $shrink-transform;
  }
  80% {
    filter: $shadow;
    transform: none;
  }
}
