@import '@/styles/colors.module.scss';
@import '@/styles/consts.module.scss';

@mixin isActive($color: $accent) {
  > svg {
    fill: $color;
    stroke: $color;

    &:hover, &:focus-visible {
      fill: $none;
      stroke: $color;
    }

    &:active, &.active {
      fill: $none;
      stroke: $tertiary;
    }
  }
}

@keyframes popUp {
  0% { transform: scale(1); }
  40% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.container {
  flex-direction: row;
  align-items: center;
  gap: 5px;

  > div {
    cursor: pointer;

    > svg {
      font-size: 24px;
      transition: all 500ms $ease-out-quartic;
      fill: $none;
      stroke: $secondary;
      path { stroke-width: 40px; }
    }

    &:hover, &:focus-visible {
      > svg {
        fill: $secondary;
        stroke: $secondary;  
      }
    }
  
    &:active, &.active {
      > svg {
        fill: $tertiary;
        stroke: $tertiary;  
      }
    }  
  }

  &.error {
    opacity: 0.5;
    > div {
      cursor: not-allowed;
      > svg {
        fill: $none;
        stroke: $red;
      }
    }
  }
}

.count {
  justify-content: center;
  align-items: center;

  > span {
    position: absolute;
    pointer-events: none;
    user-select: none;
    font-size: 12px;
    line-height: 0;
  }
}

div.isSaved { @include isActive($cold); }
div.isLiked { @include isActive($hot); }
