@use '@/styles/colors.module';
@use '@/styles/consts.module';

@mixin isActive($color: colors.$accent) {
  > svg {
    fill: $color;
    stroke: $color;

    &:hover, &:focus-visible {
      fill: colors.$none;
      stroke: $color;
    }

    &:active, &.active {
      fill: colors.$none;
      stroke: colors.$tertiary;
    }
  }
}

@keyframes popUp {
  0% { transform: scale(1); }
  40% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

.container {
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 24px;

  > div {
    cursor: pointer;
    transition: all 500ms consts.$ease-out-quartic;
    height: 24px;

    > svg {
      font-size: 24px;
      height: 24px;
      transition: all 500ms consts.$ease-out-quartic;
      fill: colors.$none;
      stroke: colors.$secondary;
      path { stroke-width: 40px; }
    }

    &:hover, &:focus-visible {
      > svg {
        fill: colors.$secondary;
        stroke: colors.$secondary;  
      }
    }
  
    &:active, &.active {
      > svg {
        fill: colors.$tertiary;
        stroke: colors.$tertiary;  
      }
    }  
  }

  &.error {
    opacity: 0.5;
    > div {
      cursor: not-allowed;
      > svg {
        fill: colors.$none;
        stroke: colors.$red;
      }
    }
  }
}

div.superLike {
  align-items: center;

  > svg {
    &:first-of-type {
      font-size: 14px;
      position: absolute;
      top: -2px;
      stroke: colors.$gold;
    }

    &:last-of-type {
      stroke: colors.$highlight;
    }
  }

  &:hover, &:focus-visible {
    > svg {
      &:first-of-type {
        fill: colors.$primary;
        stroke: colors.$gold;
      }
  
      &:last-of-type {
        fill: colors.$highlight;
        stroke: colors.$highlight;
      }
    }
  }

  &:active, &.active {
    scale: 1.5;
    > svg {
      &:first-of-type {
        fill: colors.$gold;
        stroke: colors.$primary;
      }
  
      &:last-of-type {
        fill: colors.$none;
        stroke: colors.$highlight;
      }
    }
  }
}

div.cantSuperLike {
  filter: saturate(0);
  cursor: not-allowed;

  &:hover, &:focus-visible {
    > svg {
      &:first-of-type {
        fill: colors.$primary;
        stroke: colors.$gold;
      }
  
      &:last-of-type {
        fill: colors.$none;
        stroke: colors.$highlight;
      }
    }
  }

  &:active, &.active {
    filter: saturate(0);
    scale: 1;

    > svg {
      &:first-of-type {
        fill: colors.$primary;
        stroke: colors.$gold;
      }
  
      &:last-of-type {
        fill: colors.$none;
        stroke: colors.$highlight;
      }
    }
  }
}

.count {
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  flex-direction: row;
  gap: 5px;

  > div {
    flex-direction: row;
    gap: 5px;
  }

  > span {
    color: colors.$accent;
  }

  &:hover, &:focus-visible {
    text-decoration-color: colors.$accent;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }

  &:active, &.active {
    font-weight: bold;
  }
}

div.isSaved { @include isActive(colors.$cold); }
div.isLiked { @include isActive(colors.$hot); }
div.isSuperLiked {
  filter: drop-shadow(0 0 7.5px colors.$highlight);

  > svg {
    &:first-of-type {
      fill: colors.$gold;
      stroke: colors.$primary;
    }

    &:last-of-type {
      fill: colors.$highlight;
      stroke: colors.$highlight;
    }
  }

  &:hover, &:focus-visible {
    > svg {
      &:first-of-type {
        fill: colors.$primary;
        stroke: colors.$gold;
      }
  
      &:last-of-type {
        fill: colors.$none;
        stroke: colors.$highlight;
      }
    }
  }

  &:active, &.active {
    filter: saturate(0);
    scale: 1;

    > svg {
      &:first-of-type {
        fill: colors.$gold;
        stroke: colors.$primary;
      }
  
      &:last-of-type {
        fill: colors.$none;
        stroke: colors.$highlight;
      }
    }
  }
}

.modalSection {
  min-width: fit-content;
  width: 225px;
  max-width: 80%;
  min-height: 150px;
}

.modalSectionContent {
  align-items: stretch;

  hr {
    align-self: center;
    margin: 4px 0;
  }
}

.modalHead {
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 5px;
  font-size: 18px;

  > span {
    font-weight: bold;
  }
}

.modalCloseButton {
  position: absolute;
  right: 0;
  cursor: pointer;

  > svg {
    font-size: 24px;
    transition: all 500ms consts.$ease-out-quartic;
    fill: colors.$secondary;
    stroke: colors.$secondary;
  }

  &:hover, &:focus-visible {
    > svg {
      fill: colors.$quinary;
      stroke: colors.$quinary;
    }
  }

  &:active, &.active {
    > svg {
      fill: colors.$tertiary;
      stroke: colors.$tertiary;
    }
  }
}

.modalBody {
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;

  > hr {
    margin: 0;
    border-color: colors.$quaternary;
    border-style: dashed;
  }
}

.liker {
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  gap: 10px;
  user-select: none;

  &.super {
    > img {
      outline: colors.$gold dashed 2px;
    }

    .hasDisplayName {
      > span {
        color: colors.$highlight;
        filter: drop-shadow(0 0 7px colors.$highlight)
                drop-shadow(0 0 8px colors.$highlight);

        &::before {
          display: inline-flex;
          content: "✱";
          margin-right: 2.5px;
          color: colors.$gold;
        }
      }
    }
  }

  > img {
    border-radius: 5px;
  }

  .hasDisplayName {
    > div {
      > a {
        font-size: 12px;
      }
    }  
  }
}

.noLikers {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 5px;

  > svg {
    font-size: 30px;
    fill: colors.$secondary;
    stroke: colors.$secondary;
  }

  > span {
    font-size: 14px;
    color: colors.$secondary;
    font-style: italic;
  }
}
