@import '@/styles/colors.module.scss';
@import '@/styles/consts.module.scss';

$arrow-size: 28px;

.sectionContent {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.card {
  padding: 0 20px;
}

.cardSection {
  max-height: calc(80vh - 150px);
  min-width: 200px;
  max-width: 600px;
}

.quiver {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  gap: 10px;

  input {
    padding: 0 10px;
    font-size: 28px;
    height: $arrow-size;
    line-height: $arrow-size;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    user-select: none;

    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  svg {
    font-size: $arrow-size;
    transition: all 500ms $ease-out-quartic;
    stroke: $quinary;
    fill: $quinary;

    path {
      transition: all 500ms $ease-out-quartic;
    }

    &.disabled {
      transform: scale(0.8);
    }

    &:not(.disabled) {
      stroke: $accent;
      fill: $accent;

      &:hover, &:focus-visible {
        transform: scale(1.2);

        path {
          stroke-width: 80px;
        }
      }

      &:active, &.active {
        transform: scale(0.8);
        &:nth-child(1) {
          transform: translateX(-15px);
        }
        &:nth-last-child(1) {
          transform: translateX(15px);
        }
      }
    }
  }
}

.error {
  text-align: center;

  > :nth-child(1) {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;

    &::before {
      color: $red;
      content: "× ";
    }
  }
}
