@use '@/styles/colors.module';

@mixin styling($action-height, $posting-as-size, $action-font-size) {
  .sectionContent {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .content {
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .title {
    span {
      font-size: 22px;
      color: colors.$quinary;
    }

    hr {
      border-color: colors.$accent;
      margin-top: 5px;
    }
  }

  .post {
    width: 800px;
    max-width: 90%;
    max-height: 75%;
    bottom: 0;
    gap: 10px;
  }

  .editor {
    height: calc(50vh - 75px);
  }

  .card {
    height: 100%;
  }

  $padding: 20px;

  div.cardContent {
    flex: 1;
    padding: $padding;
    overflow-y: scroll;

    > textarea, > div {
      flex: 1;
      resize: none;
      caret-color: colors.$accent;
    }
  }

  .showPrev {
    user-select: none;
    transform: scale(0.8);
    transform-origin: bottom right;
    position: absolute;
    right: $padding;
    bottom: $padding;
    padding: 2.5px;
    border-radius: 50%;
  }

  .footer {
    align-self: stretch;
    flex-direction: row;
  }

  .asUser {
    flex: 1;

    > span {
      user-select: none;
      font-size: $posting-as-size;
    }
  }

  .actions {
    flex: 1;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 5px;
    height: $action-height;

    > div {
      > div:nth-child(1) { width: $action-height - 2px; }
      > div:nth-child(2) { font-size: $action-font-size; }
    }
  }

  .loading {
    align-self: center;
    margin-right: 5px;
  }
  
  .error {
    color: colors.$secondary;
    font-size: 14px;
    animation: showUp 1s ease-in-out;

    > span {
      color: inherit;

      &::before {
        content: "..";
        color: colors.$none;
      }
    }

    &::before {
      content: "× ";
      color: colors.$red;
    }
  }

  @keyframes showUp {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    80% {
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($action-height: 30px, $posting-as-size: 10px, $action-font-size: 12px);
}

@media screen and (min-width: 787px) {
  @include styling($action-height: 35px, $posting-as-size: 12px, $action-font-size: 12px);
}
