$none: transparent;

$primary: #0a0a0a;
$secondary: #666666;
$tertiary: #eeeeee;
$quaternary: #1f1f1f;
$quinary: #b0b0b0;

$accent: #1ed760;
$highlight: #8400ff;

$hot: #d71e1e;
$cold: #2054ff;

$red: #d71e1e;
$green: #00c43b;
$blue: #3a7aff;

$cyan: #27d4ff;
$yellow: #DBB024;
$magenta: #eb16c7;

:export {
  none: $none;

  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  quaternary: $quaternary;
  quinary: $quinary;

  accent: $accent;
  highlight: $highlight;

  hot: $hot;
  cold: $cold;

  red: $red;
  green: $green;
  blue: $blue;

  cyan: $cyan;
  yellow: $yellow;
  magenta: $magenta;
}