@import 'colors.module';

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: normal;
}

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode-Italic.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: italic;
}

::selection {
  color: $primary;
  background-color: rgba($accent, 0.8);
}

body {
  margin: 0;
  padding: 10px;

  position: absolute;
  display: flex;
  flex-direction: column;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  background-color: $primary;
}

// BTW, can you tell I'm a React Native dev?
div {
  display: flex;
  flex-direction: column;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1,h2,h3 {
  margin-block-start: 0.6em;
  margin-block-end: 0;
  &::before {
    content: "§ ";
    color: $secondary;
  }
}

h4,h5,h6 {
  margin-block-start: 0.6em;
  margin-block-end: 0;
  &::before {
    content: "> ";
    color: $secondary;
  }
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

a {
  color: $accent;
  font-style: italic;
  text-decoration-style: dotted;

  &:hover, &:focus-visible {
    font-weight: bolder;
    text-decoration-style: solid;
  }

  &[aria-describedby="footnote-label"] {
    font-style: normal;

    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
}

blockquote {
  position: relative;
  font-style: italic;

  margin-block: 0;
  margin-inline: 0;

  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border-radius: 5px;

  background-color: rgba($quaternary, 0.3);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: $secondary;
    height: 100%;
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
  }

  p {
    color: $quinary;
  }

  p:nth-child(1) {
    &::before {
      content: "“\00a0";
      color: $secondary;
      font-weight: bold;
    }
  }
  
  p:not(:nth-child(1)) {
    &::before {
      content: "\00a0\00a0";
      color: $secondary;
    }
  }

  p:nth-last-child(1) {
    &::after {
      content: "\00a0”";
      color: $secondary;
      font-weight: bold;
    }
  }
}

code {
  display: inline-block;
  background-color: $quaternary;
  padding: 3px;
  border-radius: 5px;
  font-family: monospace;
}

ul, ol {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 30px;
}


li {
  &::marker {
    color: $accent;
  }
}

ol li::marker {
  font-size: 12px;
}

hr {
  width: 100%;
  height: 0;
  border-style: solid;
  border-color: $secondary;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  align-self: stretch;
  margin-top: 16px;
  margin-bottom: 16px;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border: 1px solid $secondary;
}

tr {
  background-color: $quaternary;

  &:nth-child(2n) {
    background-color: $primary;
  }
}

th, td {
  padding: 6px 13px;
}

th {
  background-color: $primary;
  font-weight: bold;
  border-bottom: 1px solid $secondary;
}

td {
  border: 1px dashed $secondary;
}

input, textarea {
  background-color: $quaternary;
  border: none;
  border-radius: 0;
  border-bottom: 2px $accent solid;
  min-height: 30px;

  &[name="span"] {
    display: inline;
    background-color: $none;
    border: none;
    min-height: initial;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  body { font-size: 14px; }
}

@media screen and (min-width: 787px) {
  body { font-size: 16px; }
}

* {
  font-family: 'Cascadia', 'Menlo', 'Courier Prime', 'Courier New', Courier, monospace;
  color: $tertiary;

  &:focus {
    outline: none;
    
    &:focus-visible {
      outline-width: 1px;
      outline-color: $accent;
      outline-style: dashed;
    }
  }
}
