@import 'colors.module';

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: normal;
}

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode-Italic.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: italic;
}

::selection {
  color: $primary;
  background-color: $accent;
}

body {
  margin: 0;
  padding: 0;

  position: fixed;
  display: flex;
  flex-direction: column;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $primary;
  color: $tertiary;

  font-family: 'Cascadia', 'Menlo', 'Courier Prime', 'Courier New', Courier, monospace;
}

// BTW, can you tell I'm a React Native dev?
div {
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
}

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}

.color-tertiary {
  color: $tertiary;
}
