@import 'colors.module';

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: normal;
}

@font-face {
  font-family: Cascadia;
  src: url('/static/fonts/CascadiaCode-Italic.ttf');
  font-weight: 100 200 300 400 500 600 800 900;
  font-style: italic;
}

::selection {
  color: $primary;
  background-color: rgba($accent, 0.8);
}

body {
  margin: 0;
  padding: 0;

  position: fixed;
  display: flex;
  flex-direction: column;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: $primary;
  color: $tertiary;

  font-family: 'Cascadia', 'Menlo', 'Courier Prime', 'Courier New', Courier, monospace;
}

// BTW, can you tell I'm a React Native dev?
div {
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
}

a {
  color: $accent;
  font-style: italic;
  text-decoration-style: dotted;
}


@media screen and (min-width: 0px)
              and (max-width: 786px) {
  * {
    font-size: 14px;
  }
}

@media screen and (min-width: 787px) {
  * {
    font-size: 1rem;
  }
}
