@import '@/styles/colors.module.scss';

@mixin styling($img-size) {
  $time-func: cubic-bezier(0.165, 0.84, 0.44, 1);
  $shadow: drop-shadow(0 0 5em rgba($highlight, 0.75));

  $shrink-filter: $shadow blur(3px);
  $shrink-transform: scale(0.8);

  .holder {
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .image {
    height: $img-size;
    width: $img-size;
  }

  .icon {
    user-select: none;
    cursor: pointer;
    transition: all 500ms $time-func;

    &:hover {
      filter: $shadow;
    }
    &:active:not(.beating){
      transform: scale(0.75);
    }
  }

  .beating {
    animation: beat 1s ease-out 500ms infinite;
  }

  .text {
    text-align: center;
    margin-bottom: -10px;
  }

  .sep {
    width: 80%;
    max-width: 800px;
    height: 3px;
    border-radius: 3px;
    background-color: $quaternary;
  }

  .desc {
    text-align: left;
    margin: 15px;
  }

  .msg {
    display: block;
    border-style: solid;
    border-color: $highlight;
    border-width: 0;
    border-bottom-width: 1px;
    background-color: rgba($highlight, 0.12);
    padding: 7.5px;
    max-width: 80%;
    color: $quinary;
    text-align: center;
    position: absolute;
    bottom: 50px;
    transition: all 500ms $time-func 250ms;

    &::before {
      color: $highlight;
      content: "◈ ";
    }
  }

  @keyframes beat {
    0% {
      filter: $shadow;
      transform: none;
    }
    10% {
      filter: $shrink-filter;
      transform: $shrink-transform;
    }
    30% {
      filter: $shadow;
      transform: none;
    }
    50% {
      filter: $shrink-filter;
      transform: $shrink-transform;
    }
    80% {
      filter: $shadow;
      transform: none;
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($img-size: 125px);
}

@media screen and (min-width: 787px) {
  @include styling($img-size: 240px);
}
