$font-stack: var(--value-font-stack);

$border-radius-1: var(--value-border-radius-1);
$border-radius-2: var(--value-border-radius-2);
$border-radius-3: var(--value-border-radius-3);

$line-ribbon: var(--value-line-ribbon);

$bracket-1-l: var(--value-bracket-1-l);
$bracket-1-r: var(--value-bracket-1-r);

$bracket-2-l: var(--value-bracket-2-l);
$bracket-2-r: var(--value-bracket-2-r);

$bracket-3-l: var(--value-bracket-3-l);
$bracket-3-r: var(--value-bracket-3-r);

$arrow-1-l: var(--value-arrow-1-l);
$arrow-1-r: var(--value-arrow-1-r);
