@use '@/styles/funcs.module';
@use '@/styles/consts.module';
@use '@/styles/colors.module' as c;

@mixin styling($img-size) {
  $shadow: drop-shadow(0 0 5em funcs.set-alpha(c.$highlight, 75%));

  $shrink-filter: $shadow blur(3px);
  $shrink-transform: scale(0.8);

  .sectionContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    overflow-y: scroll;
    padding: 50px 15px;
    gap: 15px;

    > hr {
      width: 80%;
      max-width: 800px;
      height: 3px;
      border: none;
      border-radius: 3px;
      background-color: c.$quaternary;
    }  
  }

  .image {
    pointer-events: none;
    height: $img-size;
    width: $img-size;
  }

  .icon {
    user-select: none;
    cursor: pointer;
    transition: all 500ms consts.$ease-out-quartic;

    &:hover, &:focus-visible {
      filter: $shadow;
      transform: scale(0.9);
    }
    &:active:not(.beating){
      transform: scale(0.75);
    }
  }

  .beating {
    animation: beat 1s ease-out 500ms infinite;
  }

  .hello {
    text-align: center;
    margin-bottom: -10px;

    &::before {
      content: none;
    }
  }

  .desc {
    text-align: left;
    max-width: 850px;
  }

  .button {
    min-height: 40px;
  }

  @keyframes beat {
    0% {
      filter: $shadow;
      transform: none;
    }
    10% {
      filter: $shrink-filter;
      transform: $shrink-transform;
    }
    30% {
      filter: $shadow;
      transform: none;
    }
    50% {
      filter: $shrink-filter;
      transform: $shrink-transform;
    }
    80% {
      filter: $shadow;
      transform: none;
    }
  }
}

@media screen and (min-width: 0px)
              and (max-width: 786px) {
  @include styling($img-size: 200px);
}

@media screen and (min-width: 787px) {
  @include styling($img-size: 300px);
}
